*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

thisHeaderTxt {
    background-color: inherit;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: flex;
}
thisHeaderTxt p{
    margin-top: 10px;
    background-color: #202020;
    margin-left: 10px;
}

thisHeaderTxt:hover{
    color: #02f502;
    transition: all 0.3s ease 0s;
}

#icon{
    width: 50px;
    height: 50px;
    background-color: #202020;
}

.head li,.head a, button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: inherit;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #202020;
    border-bottom: 2px solid #02f502;
    font-size: 0;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    background-color: #202020;
    display: inline-block;
    padding: 0px 35px;

}

.nav_links li a{
    transition: all 0.3s ease 0s;
    font-size: 15px;
}

.nav_links li a:hover{
    color: #02f502;
}

button{
    padding: 9px 25px;
    background-color: rgba(255, 255, 255, 0.473);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #02f502;
}

.middle {
    margin: 50px;
    margin-bottom: 1000px;
    font-family: 'Courier New', monospace;;
    font-size: 1.25em;
    color:#02f502;
    text-align: center;
    text-align: justify;
    height: 100%;
    
}

#eyeicon{
    float: right;
}

/* body of the website, only for background*/
body{
    background-color: rgb(0, 0, 0);
}

ul{
    list-style: none;
    background-color: #202020;
}

.footer{
    background-color: #202020;
    border-top: 2px solid #02f502;
    padding: 20px 0px;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    background-color: #202020;
    justify-content: center;
    align-items: center;
}

.footer-col{
    width: 30%;
    padding: 0 15px;
    background-color: #202020;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    background-color: #202020;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #02f502;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3s ease;
    background-color: #202020;
}

.footer-col ul li a:hover{
    color: white;
    padding-left: 8px;
}

.footer-col i::before{
    background-color: #202020;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.473);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #20ff63;
    background-color: rgba(255, 255, 255, 0.692);
}

.social-links{
    background-color: #202020;
}

#iframe{
    position: absolute;
    right: 70px;
}